
// Lato Regular 

@font-face {
    font-family: "Lato-Light";
    src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

// Lato Regular 

@font-face {
    font-family: "Lato-Regular";
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

// Lato Medium

@font-face {
    font-family: "Lato-Bold";
    src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

// Lato Bold 

@font-face {
    font-family: "Lato-Black";
    src: url('../assets/fonts/Lato/Lato-Black.ttf');
}