$white: #{var(--white-default)};
$black: #{var(--black-default)};
$dead-black: #{var(--dead-black-default)};
$gray: #{var(--gray-default)};
$purple: #{var(--purple-default)};
$blue: #{var(--blue-default)};
$alpha: #{var(--alpha-default)};


$blue-light: #4399F780;
$sky: #73E9F9;
$white-default: #FFFFFF;
$black-default: #000000;